

body{
    margin:auto;
    background-color: black;
}

#musiqiciler{
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}
#inputdivi{
     margin: 20px 50px;
    position: relative;
  display: inline-block;
}

#inputdivi i {
  position: absolute;
  left: 88vw;
  top: 50%;
  transform: translateY(-50%);
  color: #ff0000;
  pointer-events: none; /* ikon kliklə mane olmur */
}


input{
    border: none;
    box-shadow: 0 0 20px red;
    width: 90vw;
    border-radius: 15px;
    border: 2px solid red;
    color: white;
    background-image: linear-gradient(red 10%, black 60%);
    font-size: 1.5em;
    padding: 10px;
    display: inline-block;
} 
input::placeholder{
    color: white;
}
#neticetapilmadi{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
.singer-0{
    background-image: url(https://cdn.europosters.eu/image/750/5961.jpg);
    background-color: gray;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    border-radius: 20px;
    color: aqua;
    box-shadow: 0 0 20px gray;
    transition: all 0.5s;
    height: 25vh;
    width: 80vw;
    padding: 30px;
}
.box:hover{
    transform: scale(1.1);
}
button{
    background-color: rgb(236, 173, 13);
    box-shadow: 0 0 10px gold;
    padding: 10px;
    width: fit-content;
    font-size: 2em;
    transition: all 0.5s;
    color: white;
    border: none;
    border-radius: 15px;
}
button:hover{
    transform: scale(1.1);
    background-color: white;
    color: rgb(236, 173, 13);
}
.singer-1{
    margin-top: 50px;
    background-image: url(https://www.dking-gallery.com/pix/Misc/Promo_EminemShow.jpg);
    background-color:darkred;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 0 20px red;
    transition: all 0.5s;
    color: white;
    height: 25vh;
    width:80vw;
    padding: 30px;
}
.singer-2{
     margin-top: 50px;
    background-image:url(images/majortom.jpg);
    background-color:darkgreen;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 0 20px lime;
    transition: all 0.5s;
    color: limegreen;
    height: 25vh;
    width: 80vw;
    padding: 30px;
}
.singer-3{
     margin-top: 50px;
    background-image: url(https://m.media-amazon.com/images/I/71LhnD4aN8L.jpg);
    background-color:blue;
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 0 20px aqua;
    transition: all 0.5s;
    color: orangered;
    height: 25vh;
    width: 80vw;
    padding: 30px;
}
.singer-4{
    background-color: rgba(165, 42, 42, 0.889);
      margin-top: 50px;
    background-image: url(images/handsomefamily.jpg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    border-radius: 20px;
    box-shadow: 0 0 20px brown;
    transition: all 0.5s;
    color: rgb(82, 22, 22);
    height: 25vh;
    width: 80vw;
    padding: 30px;
}


@media(max-width:320px){
    h1{
        font-size: 1em;
    }
    button{
        font-size: 1.3em;
        margin-top: 20vw;
    }
}

